body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-image: url(/img/pexels-hasan-albari-1229861.jpg);
  background-size: cover ;
  font-family: 'Newsreader', serif;
}
.app-root {
  background:white ;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 0.5s ease-out;
  transform: translatey(-10rem);
  opacity: 1;
}
.app-root-trans{
  opacity: 0;
}

#class-button {
  position: absolute;
  top: 10rem;
  right: 0%;
  width: 100%;
  height: 2rem;
  border: none;
}
#class-button:hover {
  background-color: rgba(0, 225, 255, 0.315);
}

.slider {
  transform: translateY(0rem);
}

#addsubject {
  background-color: rgb(196, 196, 196);
  height: 30%;
  width: 3%;
  border-radius: 50%;
  border: none;
  margin-top: 2.5%;
  margin-left: 2%;
  transition: all 0.5s;
}
#addsubject:hover {
  background-color: rgb(230, 230, 230);
}

.subject {
  
  background: rgb(233, 231, 231);
  margin-top: 1%;
  height: 50%;
  max-width: 10%;
  border-radius: 20px 20px;
  margin-left: 5%;
  padding: 0.5%;
  transition: all ease-out 0.5s;
  display: flex;
  
  align-items: center;  
  border: none;
  z-index: 1;
}


.subject:hover {
  transform: scale(1.2);
}
.subject-header{
  width: 100%;
  
}
.subject-container{
  width: 100%;
  height:  100%;
  display: flex;
  flex-direction: row;
  padding:2rem;
  transition: all 1s ease-out;
  transform: translateX(100vw);
  opacity: 1;
}

.subject-slider{
transform: translateX(0rem);
}

.subject-container-trans{
  opacity: 0.5;
}

.back-approot:hover{
  transform: scale(1.2);
}



#add-doc:hover{
  background-color: rgb(123, 190, 235);
}

.document{
  margin-left: 2rem;
  background-color: rgb(149, 203, 228);
  width: 7.5%;
  height: 15%;
  border-radius: 20px 20px;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 32px;
  border: none;
  position: relative;
  top:15%
  

}

.subjectrewind{
  animation: subjectrewind 1s ease-out;
}

.apptrans{
  animation: trans 1s;
}
.scaler{
  animation: scaleUp 1s ease-out;
}
.rewinder{
  animation: rewind 1s ease-out;
}

@keyframes subjectrewind{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
    
  }
}


@keyframes trans{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    
  }
}

@keyframes scaleUp{
  0%{
    transform: scale(1.0);
  }
  100%{
    transform: translateX(30rem);
    transform: scale(20);
  }
}
@keyframes rewind{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0%);
  }
}



.document-container{
  background: white;
  width: 60%;
  height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
 position: relative;
 left: 10%;
 opacity: 0.7;
}
.document:hover{
  transform: scale(1.2);
}

.button-holder{
  display: flex;
  justify-content: center;
  align-items: center;  
  position: relative;
  top: 5%;
  background-color: rgb(2, 196, 255);
  height: 3rem;
  width: 3rem;
  border-radius: 2rem 2rem 2rem 2rem;
  transition: all 1.0s ease-out;
 
}
.dropdown{
  display: flex;
  flex-direction: column;
  
  
  padding-right: 85%;
}



.navbut1{
  background-color: rgb(2, 196, 255);
  position: relative;
  top: 1rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  opacity: 0;
  
  transition: opacity 0.5s 0.3s;
  pointer-events: none;
}
.navbut1:hover{
  background-color: rgba(0, 225, 255, 0.315);
  
}
.navbut1 img{
  position: relative;
  
  height: 90%;
  
}


.navbut2{
  background-color: rgb(2, 196, 255);
  transition: opacity 0.5s 0.5s;
  position: relative;
  top: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
 


  
  opacity: 0;
  pointer-events: none;
}
.navbut2:hover{
  background-color: rgba(0, 225, 255, 0.315);
  opacity: 0.5;
}


.navbut-vis{
 
  opacity: 1;
  pointer-events: all;
}



.button-holder:hover{
  background-color: rgb(245, 245, 245);
}
.button-holder > img{
  position: absolute;
  top: 0%;
  margin-top: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
}

.button-holder.active{
  height: 10rem;
}
.button-holder.button-holder.active:hover{
  background-color: rgb(2, 196, 255);
}





.subject-container h1{
  position: absolute;
  left: 40%;
}



ul{
  list-style: none;
}



.invisible{
  display: none;
}