body {
  margin: 0;
  height: 100vh;
  width: 100%;
}
.app-root {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 0.5s ease-out;
  transform: translatey(-10rem);
  opacity: 1;
}
.app-root-trans{
  opacity: 0;
}

#class-button {
  position: absolute;
  top: 10rem;
  right: 0%;
  width: 100%;
  height: 2rem;
  border: none;
}
#class-button:hover {
  background-color: black;
}

.slider {
  transform: translateY(0rem);
}

#addsubject {
  background-color: rgb(196, 196, 196);
  height: 30%;
  width: 3%;
  border-radius: 50%;
  border: none;
  margin-top: 2.5%;
  margin-left: 2%;
  transition: all 0.5s;
}
#addsubject:hover {
  background-color: rgb(230, 230, 230);
}

.subject {
  
  background: rgb(233, 231, 231);
  margin-top: 1%;
  height: 50%;
  width: 5%;
  border-radius: 20px 20px;
  margin-left: 5%;
  padding: 0.5%;
  transition: all ease-out 0.5s;
  display: flex;
  
  align-items: center;  
  border: none;
  z-index: 1;
}


.subject:hover {
  transform: scale(1.2);
}
.subject-header{
  width: 100%;
  
}
.subject-container{
  width: 100%;
  height:  100%;
  display: flex;
  flex-direction: row;
  padding:2rem;
  transition: all 1s ease-out;
  transform: translateX(100vw);
  opacity: 1;
}

.subject-slider{
transform: translateX(0rem);
}
.subject-container-trans{
  opacity: 0.5;
}
.back-approot{
  height: 5%;
  width: 2.5%;
  border-radius: 50%;
  border: none;
  background-color: white;
  transition: all 1s;
}
.back-approot:hover{
  transform: scale(1.2);
}


#add-doc{
  width: 2.75%;
  height: 5.5%;
  border-radius: 50%;
  border:none;
  margin-left: 2.5%;
  transition: all 0.5s;
}
#add-doc:hover{
  background-color: rgb(123, 190, 235);
}

.document{
  margin-left: 2rem;
  background-color: rgb(149, 203, 228);
  width: 7.5%;
  height: 15%;
  border-radius: 20px 20px;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 32px;
  border: none;
  
  

}
.scaler{
  animation: scaleUp 1s ease-out;
}


@keyframes scaleUp{
  0%{
    transform: scale(1.0);
  }
  100%{
    
    transform: scale(20);
  }
}

.document-container{
  width: 100%;
  height: 100%;
}
.document:hover{
  transform: scale(1.2);
}

.invisible{
  display: none;
}